@model TestModel
@using BootstrapWebseite.Models
@{
    ViewBag.Title = "Test";
}

<script>
    var Progress = 0;
    var CurrentQuestion = 1;
    var CurrentQuestionAnswere = "";
    var QuestionCount = @Model.QuestionCount;
    var Answeres = new Object();

    $(document).ready(function () {
        LoadQuestion(1);
    })

    function SetProgression() {
        var progression = Math.ceil(CurrentQuestion / QuestionCount);
        $("#progress_bar").css("width", progression + "%").text(progression + "%");
    }

    function NextQuestion() {
        if (CurrentQuestion + 1 <= QuestionCount) {
            LoadQuestion(CurrentQuestion + 1);
        }
    }

    function PreviosQuestion() {
        if (CurrentQuestion - 1 >= 1) {
            LoadQuestion(CurrentQuestion - 1);
        }
    }

    function SaveAnsweres() {
        Answeres["Question" + CurrentQuestion] = CurrentQuestionAnswere;
    }

    function LoadQuestion(number) {
        $.ajax({
            type: "POST",
            url: '/Test/LoadQuestion',
            data: { 'number': number },
            success: function (data) {
                SaveAnsweres();
                CurrentQuestion = number;
                $("#test_body").empty();
                $("#test_body").html(data);
                SetProgression();
            },
            error: function (data) {
                alert("Fehler beim Laden der Frage Nr." + number);
            }
        });
    }
</script>
<h2>Test</h2>
<hr />
<div class="progress">
    <div id="progress_bar" class="progress-bar" style="width:0%">0%</div>
</div>
<br />
<br />
<div id="test_body">
    
</div>
<ul class="pagination">
    <li class="page-item"><a class="page-link" onclick="PreviosQuestion()">Previous</a></li>
    @for (int i = 1; i <= Model.QuestionCount; i++)
    {
    <li class="page-item"><a class="page-link" onclick="LoadQuestion(@i)">@i</a></li>
    }
    <li class="page-item"><a class="page-link" onclick="NextQuestion()">Next</a></li>
</ul> 